/* this is the CSS page */

.gems{
        border:5px dashed rebeccapurple;
        height:250px;
        width: 250px;
} 
.playcard{
        justify-content: center;
        align-items: center;
        display: flex;
}


.spacer25 { 
        height: 25px;
         width: 100%;
        font-size: 0;
         margin: 0;
         padding: 0;
         border: 0;
         display: block;
         }
         